.footer__area {
    background-color: var(--bg-box);
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.footer__title {
    color: var(--primary-font-color);
    letter-spacing: 2px;
    font-size: .85em;
    font-weight: 400;
    text-transform: uppercase;
}