header {
    font-family: var(--font);
    background-color: var(--bg-color);
    height: 12vh;
    width: 100%;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    position: fixed;
    z-index: 2;
}

.menu__btn {
    font-family: var(--font);
    color: var(--btn-color-off);
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    justify-self: start;
    position: relative;
}

.menu__btn:hover {
    color: var(--btn-color);
    cursor: pointer;
    transition-duration: 0.5s;
}

.menu__btn::after {
    content: "";
    background-color: currentColor;
    height: 1px;
    width: 0%;
    left: 0;
    bottom: -1px;
    position: absolute;
}

.menu__btn:hover::after {
    width: 100%;
    transition-duration: 0.3s;
}

.menu__btn.active {
    color: var(--btn-color);
}

.logo__header {
    background-color: none;
    border-bottom: solid 1px var(--logo-header-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    padding-bottom: 10px;
    margin: 0 auto 10px auto;
}

.header__title{
    color: var(--logo-header-color);
    text-transform: uppercase;
    font-size: 2.3em;
    letter-spacing: 2px;
    font-weight: 300;
}

.header__subtitle{
    color: var(--logo-header-color);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 2px;
    margin: -8px;
}

@media only screen and (max-device-width : 1024px) {
    .menu__btn {
        font-size: 1em;
    }

    .logo__header {
        margin-bottom: 0;
    }

    .header__title {
        font-size: 2em;
    }

}   

@media only screen and (max-device-width : 480px) {
    header {
            height: 10vh;
            padding: 0;
            overflow-x: hidden;
    }
    .menu__btn {
            justify-self: center;
    }
}