.home {
    height: 100vh;
    display: flex;
}

.home__content::before {
    content: '';
    background-image: url(/img/bg-home.jpg);
    height: 100%;
    width: 100%;
    background-size: 100%;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
}

.home__content {
    background-color: var(--bg-home);
    height: var(--frame-height);
    width: var(--frame-width);
    opacity: 0.95;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.logo {
    background-color: none;
    border-bottom: solid 1px var(--primary-font-color);
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    color: var(--primary-font-color);
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 300;
}

.sub__title {
    color: var(--secondary-font-color);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 2px;
    margin: -8px;
}

