@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,300;0,8..60,400;1,8..60,300&display=swap');
@import url(header.css);
@import url(home.css);
@import url(nav.css);
@import url(welcome.css);
@import url(restaurant.css);
@import url(menu-img.css);
@import url(menu.css);
@import url(contact.css);
@import url(footer.css);

:root{    
    --bg-color: #f7f7f7;
    --bg-nav: #000;
    --bg-home: #000;
    --bg-card: #080808;
    --font: Source Serif 4;
    --logo-header-color: #080808;
    --btn-color: #080808;
    --btn-color-off: #616161;
    --primary-font-color: #F6F6F6;
    --secondary-font-color: #dddddd;
    --font-color-nav: #f6f6f6;
    --frame-height: 75vh;
    --frame-width: 85vw;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    font-family: var(--font);
}

.pg {
    height: 100vh;
    display: flex;
}

.card {
    background-color: var(--bg-card);
    height: var(--frame-height);
    width: var(--frame-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__title {
    color: var(--primary-font-color);
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.card__subtitle {
    color: var(--secondary-font-color);
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 1em;
}

.card__p {
    color: var(--secondary-font-color);
    font-size: .95em;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.6;
    width: 50%;
}

[data-anime], [data-logo] {
    opacity: 0;
    transition: .3s;
}

[data-anime="top"], [data-logo] {
    transform: translate(0, -80px);
}

[data-anime="left"] {
    transform: translate(-50px, 0);
}

[data-anime="right"] {
    transform: translate(50px, 0);
}

[data-anime].animate, [data-logo].animate {
    opacity: 1;
    transform: translate(0, 0);
}

@media only screen and (max-device-width : 1024px) {
    .card__p {
        width: 75%;
    }

    .card__subtitle {
        font-size: 1.2em;
        text-align: center;
        margin: 20px 15px;
    }
}

@media only screen and (max-device-width : 480px) {
    .pg {
        height: 90vh;
    }

    .card {
        height: 70vh;
    }

    [data-anime="top"] {
        transform: translate(0, 0);
    }

    [data-anime="left"] {
        transform: translate(0, 0);
    }

    [data-anime="right"] {
        transform: translate(0, 0);
    }

    .contact__service.card__subtitle, .contact__address.card__subtitle, .contact__fone.card__subtitle {
        font-size: 1em;
    }

    .map__content.card {
        height: 80vh;
    }
}
