@import url(header.css);
@import url(home.css);
@import url(nav.css);
@import url(welcome.css);
@import url(restaurant.css);
@import url(about.css);

:root{    
    --bg-color: #f7f7f7;
    --bg-nav: #000;
    --bg-home: #000;
    --bg-card: #080808;
    --font: times;
    --btn-color: #000;
    --btn-color-off: #616161;
    --primary-font-color: #F6F6F6;
    --secondary-font-color: #dddddd;
    --font-color-nav: #f6f6f6;
    --frame-height: 70vh;
    --frame-width: 75vw;
}

body{
    background-color: var(--bg-color);
    font-family: var(--font);
}