.menu__title {
    text-transform: uppercase;
}

.menu__list > li {
    text-transform: lowercase;
    line-height: 2.2;
}

.menu__list > li::first-letter {
    text-transform: uppercase;
}

@media only screen and (max-device-width : 1024px) {
    .menu__list > li {
        line-height: 1.7;
    }
}

@media only screen and (max-device-width : 480px) {
    .menu__area.area {
        height: auto;
    }
    
    .menu__box.box {
        height: auto;
        display: block;
    }

    .menu__list {
        margin: 0 auto;
    }

    .menu__list > li {
        margin-bottom: 15px;
    }
}