.img__container {
    background-color: var(--bg-home);
    width: var(--frame-width);
    height: 80vh;
    margin: auto;
    overflow: hidden;
}

.img__container > img {
    object-position: left -80px;
    opacity: 0.8;
}