.restaurant__img {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img__container {
    background-color: var(--bg-home);
    height: var(--frame-height);
    width: var(--frame-width);
    overflow: hidden;
}

.img__container > img {
    width: 100%;
    object-position: 50% -80px;
    opacity: 0.6;
}